.boxesPanel {
  position: relative;
  //padding: 130px 0 130px;
  @include width-center(1560px, 0 30px);
  padding-top: 130px;
  .boxesPanel__wrapper{
    @include flex(flex, row, wrap);
    margin: 0 -12px;
    .boxSingleContainer{
      width: 50%;
      padding: 6px 6px;
      .boxSingleContainer--inner{
        position: relative;
        width: 100%;
        height: 535px;
        @include bg-cover();
        position: relative;
        @include flex(flex, row, nowrap, ai_center, jc_center);
        .overlay-box{
          @include transition();
          @include posa();
          @include bg-color-opacity($black, 0.4);
          z-index: 0;
        }

        .boxSingle__content{
          position: relative;
          z-index: 1;
          padding: 20px 90px;
          min-height: 70%;
          width: 100%;
          @include all-color($white);
          h1{
            margin-bottom: 40px;
          }
          p{
            line-height: 200%;
            max-width: 420px;
          }

          .linkContainer{
            position: absolute;
            bottom: 0;
          }
        }

        &:hover{
          .overlay-box{
            @include bg-color-opacity($green, 0.9);
          }
        }

      }
    }
  }
}