.breadcrumbContainer{
  padding: 23px 0;
  //border-bottom: 1px solid $grey2;
  .breadcrumbContainer-inner{
    max-width: 100%;
    padding: 0 60px;
    a{
      color: $black2 !important;
      font-size: 14px;
      font-weight: 400;
      &.current-page{
        color: $red !important;
        font-weight: 600;
      }
    }
    span{
      padding: 0 10px;
      i{
        color: $green2;
        font-weight: 500;
      }
    }
  }


  &.position-absolute{
    @include posa();
    height: auto;
    padding: 23px 0;
    border-bottom: 1px solid $grey2;
    .breadcrumbContainer-inner{
      @include container1270();
    }
  }

}