
.buttonContainer{
  @include flex(flex);
  a{
    @include round-button(red);
  }

  &.greenButton{
    a{
      @include round-button(green);
    }
  }

  //Not used Yellow and Blue
  &.yellowButton{
    a{
      @include round-button(yellow);
    }
  }
  &.blueButton{
    a{
      @include round-button(blue);
    }
  }



  &.center-align{
    a{
      margin: 0 auto !important;
    }
  }
}
