
.centerPanelContainer{
  .centerPanel{
    position: relative;
    overflow: hidden;
    @include width-center(1330px, 20px 30px);

    //@media screen and (max-width: $responsive-650){
    //  padding: 40px 30px !important;
    //}

  }
}



//Not used
.centerContentContainer{
  .centerContent{
    text-align: center;
  }
}







//Home Page / Three box blue panel
.centerPanelContainer{
  &.overflow{
    .centerPanel{
      overflow: visible;
    }
  }
}
