
.criteriaForEligibilityPanel{
  width: 100%;
  position: relative;
  overflow: hidden;

  .criteriaForEligibilityPanel__wrapper{
    @include flex(flex, row, nowrap);


    .criteriaForEligibilityPanel-content{
      width: 50%;
      @include flex(flex, row, nowrap, ai_center, jc_center);
      .criteriaForEligibilityPanel-content-inner{
        text-align: center;
        @include width-center(540px, 30px);
        h4{
          margin-bottom: 30px;
        }
        h5{
          color: $black3;
        }
      }
    }

    .criteriaForEligibilityPanel-slider{
       width: 50%;
       position: relative;
      //padding-left: 120px;
      padding: 140px 0 140px 120px;
      @include flex(flex, row, nowrap,ai_center);
      @include bg-contain();
      background-position: bottom center;
      background-color: $grey-green2;
      background-blend-mode: multiply;

      .criteriaForEligibilityPanel-slider-inner{
        width: 100%;
        .criteriaForEligibilityPanel-topContent{
          margin-bottom: 40px;
          width: 100%;
          max-width: 605px;
          padding-right: 30px;
          h1,h2,h3{
            margin-bottom: 40px;
          }
          p,p em{
              font-size: 14px;
            line-height: 160%;
          }
        }
        .criteriaForEligibilityPanel-slider-container{
          cursor: url('../../images/cursor.png'), auto;
          width: calc(100% + 240px);
          @include flex(flex, row, nowrap,ai_center);
          margin: 0 -15px;
          .criteriaForEligibilitySlide{
            width: 50% ;
            padding: 0 15px;
            outline: none;

            .criteriaForEligibilitySlide--inner{
              max-width: 580px;
              .criteriaForEligibilitySlide-content{
                background: $grey6;
                padding: 32px;
                max-width: 325px;
                min-height: 390px;
                p{
                  font-size: 15px;
                  line-height: 165%;
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }

  }
}