
.eventSliderPanel{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 85px 0;
  .eventSliderPanel__wrapper{
    @include flex(flex, row, nowrap, ai_center);
    .eventSliderPanel-content{
      width: 50%;
      @include flex(flex, row, nowrap, ai_center, jc_center);
      .eventSliderPanel-content-inner{
        //padding: 20px;
        @include width-center(360px, 30px);
        h4{
          margin-bottom: 30px;
        }
        h5{
          color: $black3;
        }
      }
    }
    .eventSliderPanel-slider{
       width: 50%;
       position: relative;
      .eventSliderPanel-slider-inner{
        width: calc(100% + 240px);
        //cursor: ;
        cursor: url('../../images/cursor.png'), auto;
        .eventSliderPanel-slider-container{
          @include flex(flex, row, nowrap,ai_center);
          margin: 0 -15px;
          .eventSlide{
            width: 50% ;
            padding: 0 15px;
            outline: none;

            .eventSlide--inner{
              max-width: 580px;
              .eventSlide__image{
                width: 100%;
                height: 445px;
                @include bg-cover();
                @include image-shadow();
                margin-bottom: 25PX;
              }
              .date{
                font-size: 13px;
                font-weight: 600;
                color: $grey1;
              }
              h6{
                width: 100%;
                max-width: 364px;
                margin-bottom: 0px;
                line-height: 150%;
                @include hover-font-color-change($red);
              }
            }
          }
        }
      }

    }
  }
}