.eventsPanel{
  width: 100%;
  padding: 110px 0;
  @include bg-cover();
  background-color: $white;
  background-blend-mode: multiply;
  background-position: center top;
  .eventsPanel__wrapper{
    @include width-center(1600px, 30px 50px);

    .eventsPanel__top-content{
      .small-title{
        margin-bottom: 30px;
      }
      h2{
        margin-bottom: 60px;
      }
    }
    .eventsPanel-listing{
      @include flex(flex, row, wrap);
      margin: 0 -50px;
      .eventsPanel__single{
        width: 50%;
        padding: 0 50px;
        margin-bottom: 75px;
        .eventsPanel__single-content{
          h4{
            color: $green-dark2;
            margin-bottom: 35px;
          }
          p{
            font-size: 14px;
            line-height: 170%;
            margin-bottom: 25px;
          }
          .view-event{
              color: $green-dark;
          }
        }
      }
    }

  }

}