.fullWidthImageContent{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 775px;
  @include flex(flex, row, nowrap, ai_center, jc_center);
  .white-bg{
    @include posa();
    width: 320px;
    background-image: linear-gradient(to right, white, white, rgba(255, 255, 255, 0.98));
  }
  .white-gradient{
    @include posa();
    left: 320px;
    @include shadow-inner-custom(inset 600px -84px 720px 140px rgba(255,255,255,0.98));
  }

  .fullWidthImageContent__tree{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 310px;
    height: 465px;
    @include bg-cover();
  }

  .fullWidthImageContent__content{
    z-index: 1;
    @include container1270();
    .fullWidthImageContent__content-inner{
      max-width: 440px;
      h1,h2{
        margin-bottom: 35px;
      }
      p{
        line-height: 180%;
      }
      a{
        color: $red;
      }
    }
  }
}