.greyBackgroundContent{
  position: relative;
  width: 100%;
  padding: 120px 0;
  background-color: $grey-green2;

  .greyBackgroundContent__left-leaf{
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 235px;
    height: 319px;
    @include bg-cover();
  }
  .greyBackgroundContent__right-leaf{
    position: absolute;
    right: 0;
    top: 5px;
    width: 680px;
    height: 415px;
    @include bg-cover();
  }

  .greyBackgroundContent--wrapper{
    z-index: 1;
    @include width-center(1110px, 0 30px);
    .greyBackgroundContent--content{
      max-width: 615px;
      h1,h2{
        margin-bottom: 35px;
      }
      p{
        line-height: 180%;
      }
      a{
        color: $red;
      }
    }
  }

}