.homeBanner{
  position: relative;
  width: 100%;
  @include bg-cover();
  height: 100vh;
  min-height: 935px;
  z-index: 1;

  .homeBanner__content{
    position: absolute;
    left: 10.781%;
    right: 50%;
    //width: 38.958%;
    bottom: -102px;
    height: auto;
    min-height: calc(100% - 110px);
    @include bg-color-opacity($green, 1);
    @include all-color($white);
    @include flex(flex, row, nowrap, ai_center, jc_center);
    .homeBanner__content-inner{
      width: 100%;
      max-width: 555px;
      padding: 20px;
      h1{
        font-size: 48px;
        margin-bottom: 30px;
      }
      p{
        line-height: 170%;
        padding-right: 11%;
      }
    }
  }
  .nxt-panel{
    position: absolute;
    left: 50%;
    bottom: 0px;
    padding: 21px 25px;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    i{
      color: $red;
      font-size: 24px;
    }
  }
}