

.imageTitlePanel{
  @include width-center(1330px, 40px 30px 60px);
  @include flex(flex, row, nowrap, ai_end, jc_space_between);

  .imageTitlePanel__image{
    width: 45%;
    padding-right: 20px;
  }
  .imageTitlePanel__title{
    width: 50%;
    @include flex(flex, row, nowrap, ai_center, jc_center);
    .imageTitlePanel__title-inner{
      max-width: 500px;
    }
  }

}

