

.imageContentPanel{
  position: relative;
  width: 100%;
  @include flex(flex, row, nowrap);

  .imageContentPanel__image{
      position: relative;
      width: calc(50% + 80px);
      min-height: 760px;
      @include bg-cover();
      &:after{
        content: "";
        @include posa();
        background-image: linear-gradient(to left,
                              rgba(241, 241, 241, 0.8) , rgba(241, 241, 241, 0.0), rgba(241, 241, 241, 0.0), rgba(241, 241, 241, 0.0));
      }

      &.imageContentPanel__white{
        &:after{
          background-image: linear-gradient(to left,
                  rgba(255, 255, 255, 0.8) ,
                  rgba(255, 255, 255, 0.0),
                  rgba(255, 255, 255, 0.0),
                  rgba(255, 255, 255, 0.0));
        }
      }
    }

  .imageContentPanel__info{
    width: calc(50% - 80px);
    background: $grey5;
    @include flex(flex, row, nowrap, ai_center, jc_center);
    .imageContentPanel__info-inner{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px 30px;
      .small-title{

      }
      h1{
        margin-bottom: 30px;
      }
      p{
        padding-right: 16%;
      }
    }
  }


}


@media screen and (max-width: $responsive-1366){

  //.imageContentPanel{
  //  @include flex(flex, row, wrap, ai_end);
  //  .imageContentPanel__image-before {
  //    .imageContentPanel__image{
  //      min-height: 610px;
  //    }
  //  }
  //}

}



@media screen and (max-width: $responsive-1024){

  //.imageContentPanel{
  //  @include flex(flex, row, wrap, ai_end);
  //  .imageContentPanel__image-before {
  //    width: 46%;
  //    .imageContentPanel__image{
  //      min-height: 580px;
  //    }
  //  }
  //
  //  .imageContentPanel__info {
  //    width: 54%;
  //    .imageContentPanel__info-inner{
  //      max-width: 480px;
  //    }
  //  }
  //
  //}

}



@media screen and (max-width: $responsive-960){

  //.imageContentPanel{
  //  padding: 10px 0;
  //  margin-top: 0px;
  //  .imageContentPanel__image-before {
  //    width: calc(100% - 40px);
  //    margin-bottom: 75px;
  //    .imageContentPanel__image{
  //      @include border-radius-right(100px);
  //    }
  //  }
  //
  //  .imageContentPanel__info {
  //    width: 100%;
  //    .imageContentPanel__info-inner{
  //      //max-width: 685px;
  //      @include width-center(715px, 20px 60px);
  //    }
  //  }
  //
  //
  //
  //  &.imageContentPanel-right{
  //    .imageContentPanel__image-before {
  //      order: 2;
  //      width: 100%;
  //      padding-left: 40px;
  //      .imageContentPanel__image {
  //
  //      }
  //      &:before{
  //      }
  //    }
  //    .imageContentPanel__info{
  //      order: 2;
  //    }
  //  }
  //
  //}

}




@media screen and (max-width: $responsive-600){

  //.imageContentPanel{
  //  .imageContentPanel__info {
  //    .imageContentPanel__info-inner{
  //      padding: 20px 40px;
  //    }
  //  }
  //}

}