.innerPageBanner{
  @include bg-cover();
  @include flex(flex, row, nowrap, ai_center);
  position: relative;
  width: 100%;
  min-height: 645px;
  .innerPageBanner__gradient{
    @include posa();
    @include shadow-inner-custom(inset 600px 239px 720px 180px rgba(0,0,0,0.65));
  }

  .innerPageBanner__content{
    padding-top: 80px;
    padding-bottom: 20px;
    @include all-color($white);
    h3,h4{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    h1{
      font-size: 64px;
      margin-bottom: 0px;
      line-height: 112%;
    }
  }
}