.linkContainer{
  position: relative;
  margin-top: 50px;
  a{
    padding-right: 80px;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
    &:before{
      content: "";
      position: absolute;
      right: 0px;
      top: -14px;
      width:42px;
      height: 42px;
      border: 2px solid $white;
      border-radius: 25px;
    }
    &:after{
      content: "\f178";
      @include  font-awesome();
      position: absolute;
      right: 13px;
      top: -2px;
      font-size: 21px;
      color: $white;
    }

    &.color-green{
      font-weight: 700;
      color: $green-dark;
      &:before{
        border: 2px solid $green-dark;
      }
      &:after{
        color: $red;
      }
    }
  }


  &.background-green{
    a{
      padding: 30px 80px 30px 30px;
      color: $white !important;
      background: $green;
      &:before{
        right: 13px;
        top: 13px;
        border: 2px solid $white;
      }
      &:after{
        right: 25px;
        top: 24px;
        color: $white !important;
      }
    }
  }

}