
.newsSliderPanel{
  width: 100%;
  position: relative;
  overflow: hidden;
  .newsSliderPanel__wrapper{
    @include flex(flex, row, nowrap);

    .newsSliderPanel-slider{
      background: $grey-green;
      width: 50%;
      position: relative;
      padding: 175px 0 175px 7%;
      &:after{
        @include posa();
        content: "";
        left: initial;
        width: 90px;
        right: 0;
        background-image: linear-gradient(to left, rgba(241, 241, 241, 0.9), rgba(241, 241, 241, 0));
      }
      .newsSliderPanel-slider-inner{
        width: calc(100% + 140px);

        h4{
          margin-bottom: 60px;
        }

        .newsSliderPanel-slider-container{
          cursor: url('../../images/cursor.png'), auto;
          @include flex(flex, row, nowrap,ai_center);
          margin: 0 -35px;
          margin-bottom: 100px;
          .newsSlide{
            width: 50% ;
            padding: 0 35px;
            outline: none;
            .newsSlide-content{
              .date{
                font-size: 13px;
                font-weight: 600;
                color: $grey1;
                position: relative;
                padding-left: 15px;
                &:before{
                  position: absolute;
                  content: "";
                  left: 0;
                  top: 10px;
                  width: 8px;
                  border-bottom: 2px solid $red;
                }
              }
              h5{
                margin-bottom: 25px;
                line-height: 140%;
              }
              p{
                font-weight: 400;
                margin-bottom: 25px;
                font-size: 14px;
                line-height: 180%;
              }
              .learn-more{
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
                @include transition();
                padding-right: 30px;
                position: relative;
                &:before{
                  position: absolute;
                  @include font-awesome();
                  @include transition();
                  content: '\f054';
                  right: 10px;
                  font-size: 16px;
                  top: 0;
                  opacity: 0;
                }
                &:hover{
                  color: $red;
                  &:before{
                    opacity: 1;
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }

    }

    .newsSliderPanel-twitter{
      width: 50%;
      z-index: 1;
      position: relative;
      @include flex(flex, row, nowrap, ai_center, jc_center);
      .newsSliderPanel-twitter-inner{
        @include width-center(720px, 20px 20px);
        h4{
          color: $white;
          margin-bottom: 45px;
        }
      }
    }

  }
}


//Twitter Styling
#ctf{
  @include shadow-outer();
  .ctf-header{
    background-color: $green2 !important;
    padding: 20px 20px 20px 45px !important;
    position: relative;
    &:before{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0px 35px 35px;
      border-color: transparent  transparent  transparent $red;
      left: 0;
      top: 0;
      position: absolute;
    }
    .ctf-header-text{
      @include all-color($white);
    }
  }
  .ctf-item{
    background-color: $grey5 !important;
    padding: 55px 45px;
    .ctf-author-box{
      margin-left: 0px;
      .ctf-author-avatar{
        display: none;
      }
      .ctf-corner-logo{
        display: none;
      }
    }
    .ctf-tweet-actions,
    .ctf-tweet-content{
      margin-left: 0px;
      .ctf-tweet-text{
        font-size: 22px;
        line-height: 160%;
        margin-bottom: 25px !important;
      }
    }

  }
  .ctf-more{
    display: none !important;
  }
}