
.newsFeedSliderPanel{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 85px 0;
  .newsFeedSliderPanel__wrapper{
    @include flex(flex, row, nowrap, ai_center);
    .newsFeedSliderPanel-content{
      width: 650px;
      @include flex(flex, row, nowrap, ai_center, jc_center);
      .newsFeedSliderPanel-content-inner{
        //padding: 20px;
        @include width-center(360px, 30px);
        h1{
          margin-bottom: 30px;
        }
        h5{
          color: $black3;
        }
        h6{
          @include small-title();
        }
      }
    }
    .newsFeedSliderPanel-slider{
       //width: 50%;
       width: calc(100% - 650px);
       position: relative;
      .newsFeedSliderPanel-slider-inner{
        width: calc(100% + 240px);
        //cursor: ;
        cursor: url('../../images/cursor.png'), auto;
        .newsFeedSliderPanel-slider-container{
          @include flex(flex, row, nowrap,ai_center);
          margin: 0 -15px;
          .newsFeedSlide{
            width: 50% ;
            padding: 0 15px;
            outline: none;

            .newsFeedSlide--inner{
              max-width: 580px;
              .newsFeedSlide__image{
                width: 100%;
                height: 310px;
                @include bg-cover();
                @include image-shadow();
                margin-bottom: 25PX;
              }
              .newsFeedSlide-content{
                .date{
                  font-size: 13px;
                  font-weight: 600;
                  color: $grey1;
                }
                h6{
                  width: 100%;
                  max-width: 364px;
                  margin-bottom: 20px;
                  line-height: 150%;
                }
                a{
                  font-size: 14px;
                  font-weight: 600;
                  @include hover-font-color-change($red);
                  cursor: pointer !important;
                }
              }

            }
          }
        }
      }

    }
  }
}