
.sectionContactPanel{
  .sectionContactPanel__wrapper{
    @include flex(flex, row, nowrap);
    .sectionContactPanelContent{
      position: relative;
      width: 50%;
      padding: 100px 0;
      @include flex(flex, row, nowrap, jc_center, ai_center);


      &:nth-child(1){
        @include all-color($white);
        .sectionContactPanelContent-inner{
          @include width-center(650px, 20px);
          a{
            font-size: 30px;
            line-height: 120%;
            text-decoration: underline;
            font-weight: 400;
            text-decoration-thickness: 0.075em;
          }
        }
        .gradient{
          @include posa();
          @include bg-color-opacity($black, 0.3);
        }
      }

      &:nth-child(2){
        @include all-color($black);
        .sectionContactPanelContent-inner{
          @include width-center(580px, 20px);
          h4,h5{
            margin-bottom: 15px;
          }
          .small-title{
            color: $grey1;
            margin-bottom: 30px;
          }
          a{
            color: $red;
            font-weight: 600;
          }
        }

        .gradient{
          @include posa();
          @include bg-color-opacity($white, 0.9);
        }

      }

      
    }
  }
}