.serviceBoxes{
  position: relative;
  //height: 675px;
  padding: 235px 0 130px;
  .image-overlay{
    @include posa();
    @include bg-cover();
    height: 60.8%;
    opacity: 0.19;
  }

  .serviceBoxes__wrapper{
    //width: 100%;
    //max-width: 1505px;
    @include width-center(1560px, 0 30px);
    .serviceBoxes__wrapper-inner{
      @include flex(flex, row, nowrap);
      margin: 0 -12px;
      .serviceSingle{
        width: 25%;
        padding: 0 6px;
        .serviceSingle__image{
          width: 100%;
          height: 470px;
          @include bg-cover();
          position: relative;
          a{
            @include posa();
          }
        }
        .serviceSingle__content{
          position: relative;
          margin-top: 20px;
          h3{
            position: relative;
            @include transition();
            padding: 25px 10px 0;
            &:before{
              content: "";
              position: absolute;
              left: 0;
              top: 0px;
              width: 100%;
              border-bottom: 2px solid $grey2;
              //@include transition();
            }
            &:hover{
              color: $red;
              &:before{
                border-bottom: 4px solid $red;
              }
            }
          }
          p{
            padding: 0 10px;
            margin-bottom: 0px;
          }
        }
      }
    }


  }
}