.socialIcons_shortcode{
  @include flex(flex, row, nowrap);
  ul{
    list-style: none;
    @include flex(flex, row, nowrap, jc_space_between);
    li{
      padding-right: 18px;
      a{
        i{
          font-size: 26px;
          color: $green !important;
          @include transition();
          &:hover{
            color: $grey3 !important;
          }
        }
      }
    }
  }
}