.threeColumnContent{

  .threeColumnContent__wrapper{
    @include flex(flex, row, nowrap, ai_start, jc_space_between);
    @include width-center(1330px, 0 30px);
    padding: 30px 0;

    .singleColumnContent{
      max-width: 435px;
      .singleColumnContent--inner{
        padding: 0px 37px;
        width: 100%;
        text-align: center;
        .singleColumnContent_image{
          margin-bottom: 30px;
        }
        .singleColumnContent_info{
          h3{
            margin-bottom: 30px;
          }
          p{
            font-weight: 500;
            line-height: 165%;
            margin-bottom: 30px;
          }
          a{
            color: $red;
          }
          .buttonContainer{
            margin-top: 50px;
          }
        }
      }
    }
  }
}