.threeColumnMembersContent{
  width: 100%;
  padding: 90px 0 120px;
  background: $grey5;
  .threeColumnMembersContent__title {
    @include width-center(1330px, 0px 55px);
    margin-bottom: 40px;
  }
  .threeColumnMembersContent__wrapper{
    @include flex(flex, row, wrap, ai_start, jc_space_between);
    @include width-center(1330px, 30px 30px);
    //padding: 30px 0;
    //margin: 0 -20px;

    .singleColumnMembersContent{
      max-width: 435px;
      .singleColumnMembersContent--inner{
        padding: 0px 25px;
        width: 100%;
        .singleColumnMembersContent_image{
          margin-bottom: 35px;
          img{
            display: block;
          }
        }
        .singleColumnMembersContent_info{
          h3{
            margin-bottom: 30px;
          }
          p{
            font-weight: 400;
            line-height: 165%;
            margin-bottom: 10px;
          }
          a{
            color: $red;
            font-weight: 600;
          }
        }
      }
    }
  }
}