.threeImageColumnContent{
  @include width-center(1330px, 0 30px);
  .threeImageColumnContent__wrapper{
    @include flex(flex, row, wrap, ai_start, jc_space_between);
    padding: 30px 0;
    margin: 0 -20px;

    .singleImageColumnContent{
      max-width: 435px;
      .singleImageColumnContent--inner{
        padding: 0px 24px;
        width: 100%;
        .singleImageColumnContent_image{
          margin-bottom: 35px;
          img{
            display: block;
          }
        }
        .singleImageColumnContent_info{
          h3{
            margin-bottom: 30px;
          }
          p{
            font-weight: 400;
            line-height: 165%;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}