
.twoColumnContent{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 80px 0 325px;
  .twoColumnContent__wrapper{
    @include width-center(1360px, 0 30px);
    @include flex(flex, row, wrap, jc_start);
    .singleColumnContent{
      width: calc(50%);
      &:nth-child(1){
        width: 53%;
        padding-left: 90px;
        padding-right: 56px;
        padding-top: 50px;
      }
      &:nth-of-type(2n){
        width: 47%;
        padding-left: 56px;
      }
    }
  }

  .twoColumnContent__left-image{
    @include posa();
    @include bg-contain();
    top: initial;
    bottom: 0;
    width: 15.65%;
    height: 710px;
  }

  .twoColumnContent__bottom-image{
    @include bg-contain();
    background-position: center bottom;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 44.55%;
    height: 305px;
    margin : 0 auto;
  }

  .twoColumnContent__right-image{
    @include bg-contain();
    background-position: center right;
    position: absolute;
    right: 0;
    top: 10%;
    width: 12%;
    height: 450px;
  }

}



@media screen and (max-width: $responsive-1024){


  .twoColumnContent{
    .twoColumnContent__wrapper{
      .singleColumnContent{
        &:nth-child(1){
          padding-right: 30px;
        }
        &:nth-of-type(2n){
          padding-left: 30px;
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-840){


  .twoColumnContent{
    .twoColumnContent__wrapper{
      .singleColumnContent{
        width: 100%;
        &:nth-child(1){
          padding-right: 0px;
        }
        &:nth-of-type(2n){
          padding-left: 0px;
        }
      }
    }
  }


}