.whiteContentPanel{
  position: relative;
  padding: 130px 0;
  .whiteContentPanel__wrapper{
    @include width-center(1280px, 0px 30px);
    @include flex(flex, row, nowrap);
    .whiteContentPanelInfo{

      &:nth-child(1){
        width: 367px;
        margin-right: 43px;
      }
      &:nth-child(2){
        margin-left: 43px;
        width: calc(100% - 367px - 86px);
        border-bottom: 3px solid $grey1;
      }
      .whiteContentPanelInfo-inner{
        h4{
          margin-bottom: 20px;
        }
        h6{
          color: $grey3;
          margin-bottom: 20px;
        }
      }
    }
  }
}