footer{
  .footerContainer{
    @include width-center(1580px, 115px 30px 50px);
    background-color: $white;
    .footer__top{
      @include flex(flex, row, nowrap, jc_space_between);
      margin-bottom: 48px;
      .footer__top-logo{
        width: 30%;
      }
      .footer__top-address{
        width: 19%;
      }
      .footer__top-contactInfo{
        width: 19%;
      }
      .footer__top-socialLinks{
        width: 32%;
        @include flex(flex, row, nowrap, jc_end);
        ul{
          list-style: none;
          @include flex(flex, row, nowrap, jc_space_between);
          li{
            padding: 0 9px;
            a{
              i{
                font-size: 26px;
                color: $green;
                @include transition();
                &:hover{
                  color: $grey3;
                }
              }
            }
          }
        }
      }
      p.footer-para{
        font-size: 13px;
        line-height: 180%;
        margin-bottom: 0px;
        font-weight: 400;
        a{
          font-size: 13px;
          color: $red;
        }
      }
    }

    .footer__bottom{
      @include flex(flex, row, nowrap, ai_center, jc_space_between);
      p{
        font-weight: 400;
        font-size: 13px;
        line-height: 180%;
        color: $grey3;
        margin-bottom: 0px;
      }
    }

  }
}