
.hidden{
  display: none;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}


//Paragraph Tags
p{
  @include font-percentage(16px, 150%);
  font-weight: 500;
  margin-bottom: 20px;
  @media screen and (max-width: $responsive-1024){
    @include font-percentage(16px,26px);
  }
}


//Heading Tags
h1,h2,h3,h4,h5,h6{
  @include font-montserrat();
  strong,
  strong span{
    font-weight: 700;
    color: inherit;
  }
}


h1, h1 span, h1 strong{
  @include font-percentage(42px, 125%);
  margin-bottom: 20px;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(38px, 125%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(34px, 125%);
    margin-bottom: 10px;
  }
}


h2, h2 span, h2 strong{
  @include font-percentage(36px, 110%);
  margin-bottom: 20px;
  //background-image: none !important;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(34px, 110%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(30px, 110%);
    margin-bottom: 10px;
  }
}



h3, h3 span, h3 strong{
  @include font-percentage(32px, 115%);
  margin-bottom: 20px;
  color: inherit;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(30px, 110%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(28px, 110%);
    margin-bottom: 10px;
  }
  @media screen and (max-width: $responsive-650){
    @include font-percentage(24px, 110%);
  }
}


h4, h4 span, h4 strong{
  font-weight: 500;
  @include font-percentage(30px, 130%);
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(26px, 130%);
  }
  @media screen and (max-width: $responsive-650){
    @include font-percentage(22px, 130%);
  }
}


h5, h5 span, h5 strong{
  font-weight: 500;
  @include font-percentage(26px, 130%);
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(24px, 130%);
  }
  @media screen and (max-width: $responsive-650){
    @include font-percentage(20px, 130%);
  }
}


h6, h6 span, h6 strong{
  font-weight: 400;
  margin-bottom: 15px;
  @include font-percentage(22px, 130%);
  @media screen and (max-width: $responsive-1024){
    @include font-percentage(18px, 130%);
  }
}



.aligncenter{
  text-align: center;
}



.gradient-overlay{
    @include posa-overlay(0.5);
}
.green-overlay{
  @include posa();
   @include bg-color-opacity($green, 0.7);
}



.container-1400{
  @include width-center(1460px, 0 30px);
}


@mixin container1270(){
  @include width-center(1330px, 0 30px);
}
.container-1270{
  @include container1270();
}


@mixin small-title(){
  color: $grey1;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-title{
  @include small-title();
}