header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 35px 60px 20px;
  background: transparent;
  @include transition(all, 0.3s);
  li{
    list-style: none!important;
  }

  .headerMain{
    @include flex(flex, row, nowrap,ai_center,  jc_space_between);
    .headerMain__left{
      width: 315px;
      .logo-black{
        display: none;
      }
    }
    .headerMain__right{
      @include all-color($white);

      .headerMain__right-top{
        @include flex(flex, row, nowrap, ai_center, jc_end);
        a{
          font-size: 14px;
          font-weight: 600;
        }
        .headerMain__right-top__wrapper{
          @include flex(flex, row, nowrap, ai_center);
          .topMenu{
            .menu{
              @include flex(flex, row, nowrap, ai_center);
              li{
                padding: 0 15px;
              }
            }
          }
          .topSearch{
            @include flex(flex, row, nowrap, ai_center);
            padding-left: 15px;
            cursor: pointer;
            i{
              padding-right: 8px;
              font-size: 14px;
            }
            span{
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }

      .headerMain__right-bottom{
        @include flex(flex, row, nowrap, ai_center, jc_end);
        .menu{
          @include flex(flex, row, nowrap, ai_center);
          > li {
            position: static;
            padding: 30px 22px;
            a{
              font-weight: 600;
              font-size: 15px;
              text-transform: uppercase;
              position: relative;
            }
            > .sub-menu{
              opacity: 0;
              height: 0px;
              position: absolute;
              top: 100%;
              top: 128px;
              left: 0;
              background: $white;
              width: 100%;
              @include transition();
              @include shadow-bottom();
              //@include flex(flex, row, wrap, jc_flex_start);
              padding: 0 10%;
              overflow: hidden;
              > li{
                //width: 33.33%;
                padding: 10px 20px;
                a{
                  color: $black;
                  font-size: 13px;
                  @include transition();
                  &:hover{
                    color:  $red;
                  }
                }
              }
            }

            &.multiple-sub-menu{
              > .sub-menu {
                @include flex(flex, row, wrap, jc_flex_start);
                > li{
                  width: 25%;
                  > a{
                      color: $green;
                      font-size: 15px;
                      font-weight: 700;

                    }

                  .sub-menu{
                    margin-top: 10px;
                    li{
                      padding: 8px 0px;
                    }
                  }

                }
              }
            }

            &:hover{
              > .sub-menu{
                padding: 35px 10%;
                opacity: 1;
                height: auto;
                border-top: 3px solid $green;
              }
            }

            &.menu-item-has-children{
              > a{
                  &:after{
                    content: '\f078';
                    position: absolute;
                    @include font-awesome();
                    top: 3px;
                    right: -20px;
                    padding-left: 10px;
                  }
                }
            }

            &:last-child{
              padding-right: 0px;
            }


          }
        }
      }

    }


  }



  &:hover{
    background: $white;
      .headerMain{
        .headerMain__left{
          .logo-white{
            display: none;
          }
          .logo-black{
            display: initial;
          }
        }
        .headerMain__right{
          @include all-color($black);
        }
      }
  }


  &.scrolled-header{
    @include shadow-bottom();
    background: $white;

    .headerMain{
      .headerMain__left{
        .logo-white{
          display: none;
        }
        .logo-black{
          display: initial;
        }
      }
      .headerMain__right{
        @include all-color($black);
      }
    }
  }

}