
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,
b, u, i, center, hr, input, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $black2;
  z-index: 0;
}





@mixin font-montserrat(){
  font-family: 'Montserrat', sans-serif;
}

@mixin font-awesome(){
  font-family: "Font Awesome 5 Pro";
}


@mixin bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}



@mixin width-center($max-width : 1400px, $padding : 0px ){
  width: 100%;
  max-width: $max-width;
  padding: $padding;
  margin: 0 auto;
}


@mixin active-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@mixin margin-x($x, $x2: null){
  margin-left: $x;
  margin-right: if($x2 == null, $x, $x2);
}


@mixin margin-y($y, $y2: null){
  margin-top: $y;
  margin-bottom: if($y2 == null, $y, $y2);
}

@mixin padding-y($y, $y2: null){
  padding-top: $y;
  padding-bottom: if($y2 == null, $y, $y2);
}

@mixin padding-x($x, $x2: null){
  padding-left: $x;
  padding-right: if($x2 == null, $x, $x2);
}

@mixin absolute-center{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@mixin bg-cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@mixin bg-contain{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin overlay($color: $black, $a: .75, $color2: null, $a2: 0, $direction: to bottom, $p: 100%, $p2: 0%){
  position: absolute;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  $color2: if($color2 == null, $color, $color2);

  background: linear-gradient($direction, rgba($color, $a) $p, rgba($color, $a2) $p2);
}



@mixin gradient($direction: "to right", $a: 1, $a2: 1, $p: 0%, $p2:100%, $c1: map-get($palette, primary), $c2: map-get($palette, secondary) ){

  background: linear-gradient($direction, rgba($c1, $a) $p, rgba($c2, $a2) $p2);
}

// can pass in hex color, then opacity
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin posa( $width: 100%, $height: 100% ) {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $height;
}


@mixin posa-overlay( $op: 0 ){
  @include posa();
  background: black;
  opacity: $op;
}



@mixin translate($x, $y){
  transform: translate($x, $y);
}

@mixin _flex_row( $align: center, $wrap: wrap ){
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin _flex_col( $align: center, $wrap: nowrap ){
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin transition( $what: all, $t: 0.3s ){
  transition: $what $t;
}

@mixin flex-left( $align: center, $wrap: wrap ){
  @include _flex_row($align, $wrap);
  justify-content: flex-start;
}

@mixin flex-center( $align: center, $wrap: wrap ){
  @include _flex_row($align, $wrap);
  justify-content: center;
}

@mixin flex-right( $align: center, $wrap: wrap ){
  @include _flex_row($align, $wrap);
  justify-content: flex-end;
}



@mixin flex( $args... ){

  @each $arg in $args{

    @if $arg == flex{
      display: $arg;
    }
    @if $arg == iflex{
      display: inline-flex !important;
    }
    @if $arg == flexi{
      display: flex !important;
    } @else if $arg == wrap or $arg == nowrap{
      flex-wrap: $arg;
    } @else if $arg == wrapi{
      flex-wrap: wrap !important;
    } @else if $arg == nowrapi{
      flex-wrap: nowrap !important;
    } @else if $arg == row or $arg == row_reverse or $arg == column or $arg == column_reverse{
      @if $arg == row_reverse{
        flex-direction: row-reverse;
      } @else if $arg == column_reverse{
        flex-direction: column-reverse;
      } @else{
        flex-direction: $arg;
      }
    } @else if $arg == ai_center or $arg == ai_start or $arg == ai_end or $arg == ai_stretch or $arg == ai_baseline or $arg == ai_auto{

      @if $arg == ai_center{
        align-items: center;
      } @else if $arg == ai_start{
        align-items: flex-start;
      } @else if $arg == ai_end{
        align-items: flex-end;
      } @else if $arg == ai_stretch{
        align-items: stretch;
      } @else if $arg == ai_baseline{
        align-items: baseline;
      } @else if $arg == ai_auto{
        align-items: auto;
      } @else{
        align-items: $args;
      }

    } @else if $arg == as_center or $arg == as_start or $arg == as_end or $arg == as_stretch or $arg == as_baseline or $arg == as_auto{
      @if $arg == as_center{
        align-self: center;
      } @else if $arg == as_start{
        align-self: flex-start;
      } @else if $arg == as_end{
        align-self: flex-end;
      } @else if $arg == as_stretch{
        align-self: stretch;
      } @else if $arg == as_baseline{
        align-self: baseline;
      } @else if $arg == as_auto{
        align-self: auto;
      } @else{
        align-self: $args;
      }
    } @else if $arg == jc_center or $arg == jc_start or $arg == jc_end or $arg == jc_space_around or $arg == jc_space_between{
      @if $arg == jc_center{
        justify-content: center;
      } @else if $arg == jc_start{
        justify-content: flex-start;
      } @else if $arg == jc_end{
        justify-content: flex-end;
      } @else if $arg == jc_space_around{
        justify-content: space-around;
      } @else if $arg == jc_space_between{
        justify-content: space-between;
      } @else{
        justify-content: $args;
      }
    } @else if $arg == f-aic{
      display: flex;
      align-items: center;
    } @else if $arg == f-jcc{
      display: flex;
      justify-content: center;
    } @else if $arg == f-aic-jcc{
      display: flex;
      align-items: center;
      justify-content: center;
    } @else{
      display: flex;
    }
  }
}




@mixin font( $size, $relative_line_height: 6px){
  font-size: $size;
  line-height: $size + $relative_line_height;
}


@mixin font-percentage( $size, $line_height: 100%){
  font-size: $size;
  line-height: $line_height;
}


@mixin inherit(){
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  color: inherit;
}


@mixin placeholder($color : $white){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}


@mixin bg-color-opacity( $color : $white, $opacity : 0.4 ){
  @if $color == $green{
    background-color: rgba(0, 147, 72 , $opacity);
  } @else if $color == $white{
    background-color: rgba(255, 255, 255 , $opacity);
  }@else if $color == $black{
    background-color: rgba(0, 0, 0 , $opacity);
  } @else {
    background-color: rgba(255, 255, 255 , $opacity);
  }
}


//CIF specific funciton

@mixin search-input-field(){
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid $white;
  width: 100%;
  padding: 11px 20px;
  display: inline-block;
  box-sizing: border-box;
  color: $white;
  @include placeholder($white);
  font-size: 15px;
  font-weight: 500;
  letter-spacing:0.01em;
}

@mixin shadow-bottom(){
  -webkit-box-shadow: 0px 12px 21px -10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 12px 21px -10px rgba(0,0,0,0.25);
  box-shadow: 0px 12px 21px -10px rgba(0,0,0,0.25);
}


@mixin shadow-bottom-menus(){
  -webkit-box-shadow: 0px 14px 15px -6px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 14px 15px -6px rgba(0,0,0,0.24);
  box-shadow: 0px 14px 15px -6px rgba(0,0,0,0.24);
}


@mixin shadow-inner(){
  -webkit-box-shadow: inset 73px -110px 137px -110px rgba(46,45,46,1);
  -moz-box-shadow: inset 73px -110px 137px -110px rgba(46,45,46,1);
  box-shadow: inset 73px -110px 137px -110px rgba(46,45,46,1);
}


@mixin shadow-inner-custom($shadow : inset 509px 239px 320px 0px rgba(0, 0, 0, 0.65)){
  box-shadow: $shadow;
}


@mixin shadow-outer(){
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.32);
}

@mixin image-shadow(){
  -webkit-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
}

@mixin hover-shadow(){
  -webkit-box-shadow: 0px 104px 76px -40px rgba(0,0,0,1);
  -moz-box-shadow: 0px 104px 76px -40px rgba(0,0,0,1);
  box-shadow: 0px 104px 76px -40px rgba(0,0,0,1);
}



@mixin text-shadow(){
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.53);
}


@mixin border-radius($radius: 200px){
  @include border-radius-left($radius);
  @include border-radius-right($radius);
}


@mixin border-radius-left($radius: 200px){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius: 200px){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}


@mixin round-button($color: red){
  position: relative;
  padding: 13px 33px;
  top: 0;
  border-radius: 50px;
  box-shadow: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  @include transition(all, 0.3s );
  background-color: $white;
  border: 1px solid $red;

  @if $color == red{
    color: $red;
    &:hover{
      background-color: $red;
      color: $white;
    }
  }

  @else if $color == green{
    color: $green;
    border: 1px solid $green;
    &:hover{
      background-color: $green;
      color: $white;
    }
  }
}


@mixin all-color($color: $white){
  *{
    color: $color;
  }
}


@mixin hover-font-color-change($color : $red){
  @include transition();
  &:hover{
    color: $color;
  }
}