/*
 * MOBY.LESS VERSION 2.0.7
 */

$moby-background: $black;
$moby-back-hover : $lightBlue;
$moby-color: $white;
$moby-width: 333px;
$moby-blue: $black2;




@mixin moby-flex-container($flow: row, $wrap: nowrap){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -ms-flex-direction: $flow;
  -webkit-flex-flow: $flow $wrap;
  flex-flow: $flow $wrap;
}
@mixin moby-flex-order($order){
  -webkit-box-ordinal-group: $order;
  -ms-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}
@mixin moby-flex($arguments){
  -webkit-box-flex: $arguments;
  -moz-box-flex: $arguments;
  -webkit-flex: $arguments;
  -ms-flex: $arguments;
  flex: $arguments;
}
@mixin moby-align-items($param){
  -webkit-align-items: $param;
  align-items: $param;
}
@mixin moby-justify-content($param){
  -webkit-justify-content: $param;
  justify-content: $param;
}
@mixin moby-transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  -ms-transition: $arguments;
  transition: $arguments;
}

@mixin moby-transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}

.moby-overlay {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  @include moby-transform(translate3d(0,0,0));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  visibility: hidden;
  opacity: 0;
  @include transition();
  &.dark {
    background: rgba(17, 17, 17, .65);
  }
  &.light {
    background: rgba(9, 47, 135, .65);
  }
  &.moby-overlay-active {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.moby-body-fixed {
  overflow: hidden !important;
}
.moby {
  opacity: .93;
  text-transform: uppercase;
  .welcome-container{
    display: none;
  }


  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  background: $white;
  @include moby-transition(all 0.4s);
  overflow: auto;
  &.moby-hidden {
    display: none;
  }
  &.moby-demo {
    color: $moby-background;
    background: $moby-blue;
    position: fixed;
    z-index: 3000;
    top: 0;
    height: 100%;
    width: 30%;
    right: 0;
    min-width: $moby-width;
    @include moby-transform(translateX(100%));
    padding: 60px 0 20px 0;
    overflow: auto;
    &.moby-active {
      @include moby-transform(translateX(0));
    }
    & .moby-inner {
      height: 100%;
      min-height: 520px;
      & > p {
        height: 40px;
        @include moby-flex-container();
        @include moby-align-items(center);
        @include moby-justify-content(center);
        padding: 0 30px;
        font-size: 13px;
        text-align: center;
      }
    }
    & .moby-close {
      color: $moby-background;

      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
      padding: 12px 20px;
      @include moby-flex-container();
      @include moby-align-items(center);
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      & .moby-close-icon {
        margin-right: 0;
        height: 20px;
        width: 20px;
        display: inline-block;
        position: relative;
        &::before,
        &::after {
          background: $moby-background;
        }
      }
    }
    & .moby-wrap {
      height: calc(100% - 40px);
      @include moby-flex-container(row, wrap);
      @include moby-align-items(center);
      @include moby-justify-content(center);
      & > div {
        width: 100%;
      }
      & img {
        margin: 0 auto 40px auto;
        display: block;
        width: 100px;
        height: auto;
      }
      & .moby-menu {
        width: 100%;
        & > * {
          width: 100%;
        }
      }
    }
    & ul {
      & li {
        & ul {
          & a {
            padding: 20px 70px 20px 70px;
            font-size: 16px;
            background: darken($moby-blue, 10%);
          }
        }
        & a {
          position: relative;
          color: $moby-background;
          text-decoration: none;
          font-size: 18px;
          font-weight: 400;
          display: block;
          padding: 20px 70px 20px 70px;
          text-align: center;
          @include moby-transition( 0.3s);
          &:hover {
            color: #e0e0e0;
          }
          & .moby-expand {
            position: absolute;
            height: 100%;
            width: 50px;
            top: 0;
            right: 0;
            height: 100%;
            text-align: center;
            padding: 10px;
            color: $moby-background;
            @include moby-flex-container();
            @include moby-align-items(center);
            @include moby-justify-content(center);
            @include moby-transition(0.3s);
            &:hover {
              color: #e0e0e0;
            }
            & i,
            & span {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  &.right-side {
    position: fixed;
    z-index: 13000;
    top: 0;
    height: 100%;
    width: 30%;
    right: 0;
    min-width: $moby-width;
    @include moby-transform(translateX(100%));
    @media screen and (max-width: 400px){
      min-width: 300px;
    }
    &.moby-active {
      @include moby-transform(translateX(0));
    }
  }
  &.fade {
    position: fixed;
    z-index: 13000;
    top: 0;
    height: 100%;
    left: 0px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    &.moby-active {
      opacity: 1;
      visibility: visible;
    }
    & ul {
      width: 100%;
    }

  }
  &.left-side {
    position: fixed;
    z-index: 13000;
    top: 0;
    height: 100%;
    left: 0px;
    width: 30%;
    min-width: $moby-width;
    @include moby-transform(translateX(-100%));
    &.moby-active {
      @include moby-transform(translateX(0));
    }
  }
  &.top-full {
    position: fixed;
    z-index: 13000;
    top: 0;
    @include moby-transform(translateY(-100%));
    height: 100%;
    left: 0px;
    width: 100%;
    & ul {
      width: 100%;
    }
    &.moby-active {
      @include moby-transform(translateY(0));
    }
  }
  &.bottom-full {
    position: fixed;
    z-index: 13000;
    @include moby-transform(translateY(100%));
    height: 100%;
    left: 0px;
    width: 100%;
    & ul {
      width: 100%;
    }
    &.moby-active {
      @include moby-transform(translateY(0));
    }
  }
  &.grow-out{
    position: fixed;
    z-index: 13000;
    top: 0;
    height: 100%;
    left: 0px;
    width: 100%;
    & ul {
      width: 100%;
    }
    @include moby-transform(scale(.7));
    visibility: hidden;
    opacity: 0;
    &.moby-active {
      opacity: 1;
      visibility: visible;
      @include moby-transform(scale(1));
    }
  }
  &.shrink-in {
    position: fixed;
    z-index: 13000;
    top: 0;
    height: 100%;
    left: 0px;
    width: 100%;
    & ul {
      width: 100%;
    }
    @include moby-transform(scale(1.2));
    visibility: hidden;
    opacity: 0;
    &.moby-active {
      opacity: 1;
      visibility: visible;
      @include moby-transform(scale(1));
    }
  }
  & ul {
    list-style: none;
    @include moby-transform(translate3d(0,0,0));
    & ul {
      display: none;
    }
  }
  & ul {
    & li {
      & ul {
        & a {
          padding: 20px 20px 20px 34px;
          font-size: 14px;
        }
        & li {
          & ul{
            & li{
              a{
                padding-left: 42px;
              }
            }
          }

        }
      }
      & a {
        position: relative;
        color: $black;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        //font-weight: normal;
        display: block;
        padding: 18px 68px 18px 22px;
        text-align: left;
        position: relative;
        letter-spacing: 0.1em;
        @include transition();
        span{
          font-size: 14px;
          font-weight: 600;
          color: $red;
        }
        &:hover{
          color: $white;
          &::after{
            width: 100%;
          }
        }
        &::after{
          @include transition();
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0px;
          background: darken($moby-back-hover, 6%);
          //background-image: linear-gradient(to right, $darkBlue, $lightBlue);
          z-index: -1;
        }

        & .moby-expand {
          position: absolute;
          height: 100%;
          width: 60px;
          top: 0;
          right: 0;
          height: 100%;
          text-align: center;
          padding: 10px;
          color: $moby-blue;
          @include moby-flex-container();
          @include moby-align-items(center);
          @include moby-justify-content(center);
          & i,
          & span {
            font-size: 22px;
            color: $moby-blue;
          }
        }

      }

      .dropdown-toggle{
        display: none;
      }
    }
  }
  & .moby-close {
    color: $white;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 30px 45px;
    background: #f5f5f5;
    background-image: linear-gradient(to right, $darkBlue, $lightBlue);
    @include moby-flex-container();
    @media screen and (max-width: 450px){
      padding-top: 32px;
      padding-bottom: 33px;
    }
    &:hover{
      color: lighten($white, 8%);
    }
    & .moby-close-icon {
      font-weight: bold;
      margin-right: 15px;
      position: relative;
      height: 20px;
      width: 20px;
      color: $white;
      @include moby-transform(rotate(45deg));
      &:hover{
        &::before{
          background: lighten($white, 8%);
        }
        &::after{
          background: lighten($white, 8%);
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $white;
        color: $white;
        top: 50%;
        margin-top: -1px;
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        height: 100%;
        width: 2px;
        background: $white;
        top: 0%;
        margin-left: -1px;
      }
    }
  }
}


