.search-pop-up-overlay{

  @include posa();
  position: fixed;
  @include bg-color-opacity($green, 0.2);
  cursor: pointer;
  height: 0px;
  z-index: 9998;
  &.overlay-pop-up-on{
    height: 100%;
  }
}

.search-pop-up-container{
  z-index: 99999;
  position: fixed;
  @include transition();
  width: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:-300px;
  //top:0px;
  background: $white;
  border-bottom: 4px solid $green;
 @include shadow-bottom();
  min-height: 175px;
  padding: 40px 30px;
  @include flex(flex, row, nowrap, ai_center);

  form{
    input[type="search"],
    input[type="text"]{
      @include search-input-field();
      font-size: 24px;
      border-bottom: 1px solid $grey3;
      color: $black;
      @include placeholder($grey3);

    }
    ::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
  }
  label.screen-reader-text,
  span.screen-reader-text{
    display: none;
  }
  input[type=submit].search-submit{
    display: none;
  }
  div.search-btn{
    margin-top: 0px;
  }

  .search-wrap{
    @include flex(flex, row, nowrap, ai_center);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    form{
      width: calc(100% - 35px);
    }
    .search-btn{
      margin-left: 15px;
      a{
        i{
          font-size: 22px;
          color: $black;
        }
      }
    }
  }

  .close-btn{
    position: absolute;
    right: 10px;
    top:5px;
    i{
      cursor: pointer;
      font-size: 30px;
      color: $black;
      font-weight: 400;
    }
  }

  &.pop-up-on{
    top:0;
  }

}
